<!DOCTYPE html>
<html>

<head>



</html>


<!DOCTYPE html>
<html lang="es">

<head>
	<title>JONASA S.A</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="login/images/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/css/util.css">
	<link rel="stylesheet" type="text/css" href="login/css/main.css">
	<!--===============================================================================================-->
	<style>
		.swal2-popup {
			font-size: 1.6rem !important;
		}



        .circulo{
		        width: 200px;
				        height: 200px; 
						        border-radius: 100px;
								      }
									      </style>

	
</head>

<body>


	<div class="container-login100" style="background-image: url('images/logo.jpg');">
		<form method="post" id="frmAcceso">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-1 p-b-10">
				<div class="login100-form validate-form">
					<span class="login100-form-title p-b-10">
						 <img src="logo.jpg" class="circulo">
						 Iniciar Sesión

						  
					</span>
	
					<div class="wrap-input100 validate-input m-b-10" data-validate="Enter username or email">
						<input class="input100" type="text" id="logina" name="logina" placeholder="usuario" autocomplete="new-password">
						<span class="focus-input100"></span>
					</div>
	
					<div class="wrap-input100 validate-input m-b-25" data-validate="Enter password">
						<input class="input100" type="password" id="clavea" name="clavea" placeholder="contraseña">
						<span class="focus-input100"></span>
					</div>
					<div class="text-right p-t-8 p-b-20">
						<a href="#" onclick="abrirModalRestablecerContra()">
							Olvidaste la contraseña?
						</a>
					</div>
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Iniciar sesión
						</button>
					</div>
	
					<div class="text-center p-t-57 p-b-20">
						<span class="txt1">
					
						</span>
					</div>
	
					<div class="flex-c p-b-20">
						
					</div>
	
	
				</div>
	
			</div>
		</form>
	
	</div>



	<div id="dropDownSelect1"></div>

<!-- Restablecer contraseña modal -->
<div class="modal fade" id="modal_restablecer_contra" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><b>Restablecer contraseña</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <label for=""><b>Ingrese el correo registrado para enviarle una contraseña que le asignara el sistema</b></label>
                        <input type="email" class="form-control" id="txt_email" placeholder="Ingrese Email">
                        <br>
                    </div>
                   
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="restablecerContra()">Enviar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
<!--fin de restrablecer contraseña -->

	<!--===============================================================================================-->
	<script src="login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="login/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="login/vendor/bootstrap/js/popper.js"></script>
	<script src="login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="login/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="login/vendor/daterangepicker/moment.min.js"></script>
	<script src="login/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="login/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="login/js/main.js"></script>
	<!--=======================================ALERTAS JAVASCRIOT==========================================-->
	<script src="scripts/librerias/sweetalert2@9.js"></script>
	<!--=======================================JS USUARIO==========================================-->
	<script type="text/javascript" src="scripts/login.js"></script>

</body>

</html>